<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Pessoa</title>
</head>
<body>
<a href="CadastroPessoa.html"><button >Cadastro Pessoas</button></a>
<a href="ListaPessoa.html"><button >Listar Pessoas</button></a>
<a href="CadastroProduto.html"><button >Cadastro Produto</button></a>
<a href="ListaProduto.html"><button >Listar Produtos</button></a>
	<fieldset>
		<legend>Cadastro de Pessoas</legend>
			<form action="">
				<div>
					<label>Id:</label>
					<input type="text" readonly="readonly" >
					<label>Nome:</label>
					<input type="text" >
				</div>
				<br>
				<div>
					<label>E-mail:</label>
					<input type="text">
					<label>Telefone:</label>
					<input type="text" >
				</div>
				<br>
				<div>
					<label>Senha:</label>
					<input type="password">
					<label>Confirmar Senha:</label>
					<input type="password" >
				</div>
				<br>
				<div>
				<button type="submit">Cadastrar</button>
				<button type="reset">Limpar</button>
				</div>
			</form>
	
	</fieldset>
</body>
</html>