<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Listagem de Pessoas</title>
<script src="https://kit.fontawesome.com/a68915eedd.js" crossorigin="anonymous"></script>
</head>
<body>
	<a href="CadastroPessoa.html"><button><i class="fa-solid fa-user-plus fa-2x"></i> Cadastro de Pessoas</button></a>
	<a href="ListaPessoa.html"><button><i class="fa-regular fa-address-book fa-2x"></i> Lista de Pessoas</button></a>
	<a href="CadastroProduto.html"><button><i class="fa-solid fa-box-archive fa-2x"></i> Cadastro de Produtos</button></a>
	<a href="ListaProduto.html" ><button><i class="fa-solid fa-boxes-stacked fa-2x"></i> Lista de Produtos</button></a>
	<a href="CadastroProduto.html"><button><i class="fa-solid fa-basket-shopping fa-2x"></i> Cadastro de Vendas</button></a>
	<a href="ListaProduto.html" ><button><i class="fa-solid fa-store fa-2x"></i> Lista de Vendas</button></a>
	<fieldset>
	<legend>Listagem de Pessoas</legend>
		<form action="#">
			<table cellspacing="10" style="border: solid 1px">
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>CPF</th>
					<th>E-Mail</th>
					<th>Telefone</th>
					<th>Data de Nascimento</th>
					<th>Senha</th>
				
				</tr>
			</table>
		
		</form>
	</fieldset>
</body>
</html>