<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listagem de Pessoas</title>
</head>
<body>
	<a href="CadastroPessoa.html"><button >Cadastro Pessoas</button></a>
	<a href="ListaPessoa.html"><button >Listar Pessoas</button></a>
	<a href="CadastroProduto.html"><button >Cadastro Produto</button></a>
	<a href="ListaProduto.html"><button >Listar Produtos</button></a>
	<fieldset>
		<legend>Listagem de Pessoas</legend>
		<form action="">
			<table>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Telefone</th>
					<th>Senha</th>
				</tr>
			</table>
			<button>Excluir</button>
		</form>
	</fieldset>


</body>
</html>