<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de Produtos</title>
<script src="https://kit.fontawesome.com/a68915eedd.js" crossorigin="anonymous"></script>
</head>
<body>
	<a href="CadastroPessoa.html"><button><i class="fa-solid fa-user-plus fa-2x"></i> Cadastro de Pessoas</button></a>
	<a href="ListaPessoa.html"><button><i class="fa-regular fa-address-book fa-2x"></i> Lista de Pessoas</button></a>
	<a href="CadastroProduto.html"><button><i class="fa-solid fa-box-archive fa-2x"></i> Cadastro de Produtos</button></a>
	<a href="ListaProduto.html" ><button><i class="fa-solid fa-boxes-stacked fa-2x"></i> Lista de Produtos</button></a>
	<a href="CadastroVenda.html"><button><i class="fa-solid fa-basket-shopping fa-2x"></i> Cadastro de Vendas</button></a>
	<a href="ListaVendas.html" ><button><i class="fa-solid fa-store fa-2x"></i> Lista de Vendas</button></a>
	<fieldset>
		<legend>Cadastro de Produtos</legend>
		<form th:action="@{/api/v1/cadastroProduto}" th:object="${cadastroProduto}" method="post">
		<div>
			<label for="descricao">Descrição:</label>
			<br>
			<input type="text" th:field="*{descricao}" required="required">
			<br>
		</div>	
			<div>
			<label for="qtd">Quantidade:</label>
			<br>
			<input type="text" th:field="*{qtd}" required="required">
			<br>
		</div>	
			<div>
			<label for="vlrCompra">Valor de Compra:</label>
			<br>
			<input type="text" th:field="*{vlrCompra}" required="required">
			<br>
		</div>	
			<div>
			<label for="vlrVenda">Valor de Venda:</label>
			<br>
			<input type="text" th:field="*{vlrVenda}" required="required">
			<br>
		</div>	
			<div>
			<label for="dtValidade">Data de Validade:</label>
			<br>
			<input type="date" th:field="*{dtValidade}" required="required">
			<br>
		</div>	
			<div>
			<label for="fabricante">Fabricante/Fornecedor:</label>
			<br>
			<input type="text" th:field="*{fabricante}" required="required">
			<br>
		</div>
		<br>
		<div>
			<button type="submit">Cadastrar</button>
			<button type="reset">Limpar</button>
		</div>
		</form>
	</fieldset>
</body>
</html>