<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<script src="https://kit.fontawesome.com/a68915eedd.js" crossorigin="anonymous"></script>
</head>
<body>
	<form action="#">
		<label>Email:</label>
		<input type="text" name="email">
		<br><br>
		<label>Senha:</label>
		<input type="password" name="senha">
		<br><br>
		<a href="CadastroPessoa.html">
		<button style="border:none "><i class="fa-solid fa-user-plus"></i>Cadastrar</button>
		</a>
		<button type="submit"  style="background: green; color: white; border: none;">
		<i class="fa-solid fa-right-to-bracket fa-2x"></i> Logar</button>
	</form>
</body>
</html>