@charset "UTF-8";
body{
	margin-top: 20px;
	margin-left: 25px;
	background-color: #c0c0c0;
}
input {
	padding: 7px 35px;
	border-radius: 5px;
}
button {
	border: 2px solid;
	border-radius: 5px;
	cursor: pointer;
}
.btn-cadastrar{
	background-color: #90ee90;
	padding: 7px 25px;
}
.btn-reset{
	background-color: 	#FFD700;
	padding: 7px 25px;
}
.btn-menu{
	background-color: 	#FFA500;
}