body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}
ul{
    list-style: none;
}
ul label{
    width: 100px;
    float: left;
}
#frmCadastro{
    width: 100%;
    border: solid 2px;
    border-radius: 5px;
}
#btnSalvar{
    background-color: green;
    border: 2px;
    color: aliceblue;
    padding: 8px 8px;
    border-radius: 5px;
}
#tblListar{
    width: 100%;
    border: solid 2px;
    text-align: left;
    border-collapse: collapse;
}

#tblListar tbody tr{
    border:  solid 2px;
    height: 30px;
}
#tblListar thead{
    background: bisque;
}
input{
    border: solid 2px;
    border-radius: 5px;
}