body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, rgba(63,94,251,1) 
    0%, rgba(252,70,107,1) 100%);
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanente Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 4px aliceblue;
    border: 4px aliceblue;
    cursor: pointer;
    line-height: 100px;
    font-size: 90px;
    font-weight: bold;
}
h1{
    color: black;
    font-weight: lighter;
    font-size: 42px;
    text-decoration: underline;
}
button{
    border-radius: 5px;
    color: aliceblue;
    background-color: #333333;
    cursor: pointer;
}