<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<script src="https://kit.fontawesome.com/a68915eedd.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/style.css"> 
</head>
<body>
	<fieldset>
		<legend>Login:</legend>
		<form action="#">
			<div>
				<label>E-mail:</label>
				<input type="text">
				<br><br>
				<label>Senha:</label>
				<input type="password">
			</div>
		<br><br>
			<div>
				<button style="border: none;"><i class="fa-solid fa-user-plus"></i>Cadastrar</button>
				<button style="background-color: #90ee90; border-radius: 7px;">
				<i class="fa-solid fa-arrow-right-to-bracket  fa-2x"></i>Entrar</button>
			</div>
		</form>
	
	</fieldset>
</body>
</html>