body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}
ul{
    list-style: none;
}
ul label{
    width: 100px;
    float: left;
}
#btnSalvar{
    border: solid 2px;
    background-color: green;
    color: aliceblue;
    font-weight: bolder;
    padding: 15px 15px;
    border-radius: 5px;
}
input {
    border: solid 2px;
    border-radius: 5px;
    padding: 8px;
}
#frmCadastro{
    border: solid 2px;
    border-radius: 5px;
}
#tblListar{
    width: 100%;
    border: solid 2px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
 
}
#tblListar tbody tr{
    border: solid 2px;
    height: 40px;
    border-radius: 5px;
}
#tblListar thead{
    background-color: burlywood;
}