body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle at -19.64% 62.28%, #ff54b5 0, #ff4bb9 16.67%, #ff43b9 33.33%, 
                                    #f23cb5 50%, #cf37ae 66.67%, #b034a8 83.33%, #9232a2 100%);
}
section{
    text-align: center;
}
.game--container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}
.cell{
    font-family: "Permanente Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 5px #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}
h1{
    color: black;
    font-weight: lighter;
    font-size: 42px;
    text-decoration: underline;
}
button{
    border-radius: 5px;
    color: aliceblue;
    background-color: #333333;
}